body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #D1E9F6, #EECAD5);
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #F6EACB;
    padding: 15px 0;
    border-bottom: 3px solid #F1D3CE;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border-radius: 25px;
}

.navbar a:hover {
    background-color: #EECAD5;
    color: black;
}

.content {
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
    margin-bottom: 30px;
    padding: 0 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 50px;
}

.grid-item {
    background-color: #F6EACB;
    border: 2px solid #F1D3CE;
    border-radius: 10px;
    padding: 15px;
}


.grid-item img {
    width: 100%;
    border-radius: 10px;
   
}

